<div
  class="modal fade"
  id="end-reading"
  tabindex="-1"
  aria-labelledby="end-reading"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="end-reading-label">
          Lectura finalizada
        </h1>
        <button
          type="button"
          class="btn-close"
          #closeButton
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <div class="d-flex flex-column review-input">
          <div class="d-flex mb-3 test">
            <label for="review-input">¿Quieres escribir una reseña?</label>
            <mat-button-toggle-group
              name="review-input-render"
              aria-label="Review input rendering"
              class="ms-3 mt-1"
              [(ngModel)]="selectedValue"
            >
              <mat-button-toggle value="yes">Sí</mat-button-toggle>
              <mat-button-toggle value="no" checked>No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <textarea
            name="review-input"
            #reviewinput
            cols="30"
            rows="10"
            @heightTransition
            *ngIf="selectedValue === 'yes'"
          ></textarea>
        </div>
        <div class="user-rating">
          <p>Puntaje</p>
          <div class="d-flex mt-3 mb-3">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button>Confirmar</button>
          <button>Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
