<div class="container-fluid d-flex flex-column">

  <div class="filter-container me-5 mt-4">
    <div class="d-flex flex-wrap justify-content-end w-100">
      @for(genre of genresFilter; track genre){
      <mat-chip-row (removed)="removeFilter(genre)" class="m-2">
        {{ genre }}
        <button matChipRemove [attr.aria-label]="'remove ' + genre">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </div>

    <mat-form-field>
      <mat-label>Escoja un filtro</mat-label>
      <mat-select (selectionChange)="addFilter($event)">
        @for(genre of genres; track genre){
        <mat-option value="{{ genre }}">{{ genre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex flex-wrap">
    @for(book of renderingBooks; track book._id){
    <app-books-page-book-card
      [book]="book"
      class="d-block col-2 my-5"
    ></app-books-page-book-card>
    }
  </div>
</div>
<mat-paginator
  [length]="books.length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="true"
  [pageSizeOptions]="[6, 18, 30, 60]"
  [pageIndex]="pageIndex"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
