<div class="container-fluid d-flex flex-column">
  <button class="my-5"  data-bs-toggle="modal"
  data-bs-target="#add-book">
    Agregar libro
  </button>
  <div
    class="container-fluid d-flex justify-content-between align-items-center mt-4"
  >
    <div class="d-flex justify-content-start ms-4">
      <mat-form-field>
        <mat-label>Buscar por título</mat-label>
        <input matInput type="search" (input)="searchByTitle($event)" />
      </mat-form-field>
    </div>
    <div class="w-50 d-flex justify-content-end me-4">
      <app-filter-selector
        [optionsInSelect]="genres"
        (filterArrayEmmitter)="applyFilter($event)"
      ></app-filter-selector>
    </div>
  </div>

  <div class="d-flex flex-wrap">
    @for(book of renderingBooks; track book._id){
    <app-books-page-book-card
      [book]="book"
      class="d-block col-2 my-5"
    ></app-books-page-book-card>
    }
  </div>
</div>

<mat-paginator
  [length]="books.length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="true"
  [pageSizeOptions]="[6, 18, 30, 60]"
  [pageIndex]="pageIndex"
  (page)="handlePageEvent($event)"
>
</mat-paginator>

<app-add-book-modal></app-add-book-modal>
