<div class="book-carousel d-flex mt-4">

  <div class="book-container mx-auto discord-blue">
    <div class="d-flex justify-content-around">
      <img
        src="{{ book1.cover }}"
        alt="Portada de {{ book1.title }}"
        class="book-cover-carousel mt-5"
      />
      <div class="book-text-carousel mt-5">
        <p class="book-title-carousel">
          {{
            book1.title.length > 25
              ? (book1.title | slice : 0 : 25) + "..."
              : book1.title
          }}
        </p>
        <p>por {{ book1.author.name }}</p>
        <div class="d-flex mt-3 mb-3">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <p class="ms-2">17 valoraciones</p>
        </div>
        <p>
          {{
            book1.synopsis.length > 300
              ? (book1.synopsis | slice : 0 : 300) + "..."
              : book1.synopsis
          }}
        </p>
        <button class="link-button-carousel mt-4">Ir al sitio del libro</button>
      </div>
    </div>
  </div>



</div>
