<div class="carousel-container d-flex justify-content-between">
  <i class="bi bi-chevron-left arrows-carousel" (click)="onPrevClick()"></i>

  <div
    class="book-carousel d-flex mt-4 justify-content-center"
    (@carouselAnimation.done)="onAnimationDone()"
    [@carouselAnimation]="{
      value: animationState,
      params: { startOffset: 0, endOffset: transformOffset }
    }"
    #carousel
    [style.transform]="'translateX(' + transformOffset + 'px)'"
  >
    <app-carousel-card-book
      *ngFor="let book of books; let i = index"
      [book]="book"
      [backgroundColor]="backgroundColors[i]"
      (itemWidthCalculated)="onCardWidthCalculated($event)"
    ></app-carousel-card-book>
  </div>
  <i class="bi bi-chevron-right arrows-carousel" (click)="onNextClick()"></i>
</div>
