<div
  class="modal fade"
  id="add-book"
  tabindex="-1"
  aria-labelledby="add-book"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-book-label">Agregar libro</h1>
        <button
          type="button"
          class="btn-close"
          #closeButton
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Portada</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Autor</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cantidad de páginas</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Leído por el grupo en:</mat-label>
          <input matInput />
        </mat-form-field>
        <app-filter-selector
          [column]="true"
          [filterLimit]="2"
          [optionsInSelect]="genres"
        ></app-filter-selector>
        <mat-form-field>
          <mat-label>Sinópsis</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
