<div class="d-flex" style="z-index: 1000000 !important;">
  @for(item of selectedItemsArray; track item){
  <mat-chip-row (removed)="removeFilter(item)" class="m-2">
    {{ item }}
    <button matChipRemove [attr.aria-label]="'remove ' + item">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
  }

  <mat-form-field>
    <mat-label>Escoja un filtro</mat-label>
    <mat-select (selectionChange)="addFilter($event)">
      @for(option of optionsInSelect; track option){
      <mat-option value="{{ option }}">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
