<div class="d-flex" [ngClass]="column ? 'flex-column-reverse' : ''">
  <div class="d-flex mb-0">
    @for(item of selectedItemsArray; track item){
    <mat-chip-row
      (removed)="removeFilter(item)"
      class="m-2 mb-3"
      [ngClass]="column ? 'chip-column' : ''"
    >
      {{ item }}
      <button matChipRemove [attr.aria-label]="'remove ' + item">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </div>

  <mat-form-field class="w-100">
    <input
      type="text"
      placeholder="Escoja un filtro"
      matInput
      [matAutocomplete]="auto"
      (input)="filterAutoComplete($event.target)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="addFilter($event.option.value)"
    >
      <mat-option *ngFor="let option of optionsToRender" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
