<div class="sidebar-container">
  <div class="d-flex flex-column align-items-center h-50 mt-5">
    <p class="books-reading-title">Tus lecturas</p>
    <ul class="books-reading-list">
      @for (book of books; track book) {
        <li>
          <div class="d-flex justify-content-between">
            <img src="{{ book.cover }}" alt="Portada de {{ book.title }}" />
            <div class="d-flex flex-column w-50">
              <p>{{ book.title }}</p>
              <p class="book-author">por <span class="author-link" (click)="redirectToAuthorPage(book.author._id)">{{ book.author.name }}</span></p>
            </div>
          </div>
          <button class="mt-3 mb-5 w-50 mx-auto d-block py-1 facebook-cyan">Actualizar</button>
        </li>
      }
    </ul>
  </div>
</div>
