<div class="most-read-header mb-5">
  <p>Lo más leido</p>
  <ul>
    @for (genre of filteredGenres; track genre){
    <li>
      <button
        type="button"
        (click)="filterBooks(genre)"
        [ngClass]="selectedFilter == genre ? 'selected-filter' : ''"
      >
        {{ genre }}
      </button>
    </li>
    }
  </ul>
</div>
<div class="most-read-books-container">
  @for (book of renderizedBooks; track book; let i = $index) {
  <app-home-page-book-card
    [readingBook]="isBookInReadingStatus(renderizedBooks[i]._id!)"
    [book]="renderizedBooks[i]"
    class="card-size mx-3"
  ></app-home-page-book-card>
  }
</div>
