<div class="d-flex container mt-5">
  <img
    src="{{ profilePic }}"
    alt="{{ username }} Discord profile pic"
    class="user-avatar"
  />
  <div class="d-flex flex-column ms-5">
    <h2>{{ username }}</h2>
    <p class="member-since my-2">Miembro desde {{dateOfCreation}}</p>
    <div class="my-3">
      <p class="review-title">Reseña destacada</p>
    </div>
    <div>
      <p>Libros leídos</p>
      <ul class="mt-3 vertical-border-separator">
        @for (book of booksRead; track book._id; let last = $last) {
        <app-book-item-list
          [book]="book"
          class="d-block"
          [readingStatus]="true"
          [class.bottom-border-separator]="!last"
        ></app-book-item-list>
        }
      </ul>
    </div>
  </div>
</div>
