.shadow-button {
  border-radius: 25px;
  box-shadow: 0px 5px 10px 1px rgba(34, 34, 34, 0.4);
  display: block;
  margin: 2vh auto;
  width: 10vw;
}

.review-input label {
  font-size: 1.75rem;
  margin: 2vh 0;
}
.review-input textarea {
  min-height: 5vh;
  max-height: 50vh;
}

.expanding-textarea {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease; /* Ajusta la duración y el tipo de transición según tus preferencias */
}

.expanding-textarea-expanded {
  height: 150px; /* Ajusta la altura final del textarea */
}
