<div class="modal-container">
  <div
    class="d-flex justify-content-between align-items-center bottom-border-separator"
  >
    <h1 mat-dialog-title>Actualizar lectura</h1>
    <i class="bi bi-x-lg" (click)="closeModal()"></i>
  </div>
  <div mat-dialog-content class="d-flex justify-content-between flex-column">
    @if(!data.readingBook){
    <button class="shadow-button" (click)="startReading()">Leer</button>
    } @else{
    <button class="shadow-button" (click)="finishReading()">Finalizado</button>
    <button class="shadow-button" (click)="DNF()">DNF</button>
    }
  </div>
</div>
