<div
  class="modal fade"
  id="update-reading-status"
  tabindex="-1"
  aria-labelledby="update-reading-status"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered test">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-reading-status-label">
          Actualizar lectura
        </h1>
        <button
          type="button"
          class="btn-close"
          #closeButton
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column justify-content-between align-items-center"
      >
        <button
          class="shadow-button"
          (click)="
            showAlert(
              'Comenzada la lectura!',
              'El libro se agregó a tu lista de lectura'
            )
          "
        >
          Leer
        </button>
        <button
          class="shadow-button"
          data-bs-toggle="modal"
          data-bs-target="#end-reading"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Finalizado
        </button>
        <button
          class="shadow-button"
          (click)="
            showAlert(
              'Movido a DNF',
              'El libro se removió de tu lista de lectura'
            )
          "
        >
          DNF
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="end-reading"
  tabindex="-1"
  aria-labelledby="end-reading"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="end-reading-label">Lectura finalizada</h1>
        <button
          type="button"
          class="btn-close"
          #closeButton
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <div class="d-flex flex-column review-input">
          <label for="">¿Quieres escribir una reseña?</label>
          <input type="text" />
        </div>
        <div class="user-rating">
          <p>Puntaje</p>
          <div class="d-flex mt-3 mb-3">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
        <div class="d-flex justify-content-between ">
          <button>Confirmar</button>
          <button>Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
