<div class="most-read-book mt-5 mb-5 me-auto">
  <div class="most-read-book-image-text-container">
    <img src="{{ book.cover }}" alt="Portada de {{ book.title }}" />
    <div class="d-flex flex-column w-50 mt-3">
      <p>{{ book.title }}</p>
      <p>por {{ book.author.name }}</p>
      <p>17 valoraciones</p>
      <p> {{
        book.synopsis.length > 300
          ? (book.synopsis | slice : 0 : 300) + "..."
          : book.synopsis
      }}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center pb-3">
    <button class="me-5">Leer</button> <button>Ir al sitio del libro</button>
  </div>
</div>
