<div class="most-read-book my-5 me-auto">
  <div class="most-read-book-image-text-container">
    <img src="{{ book.cover }}" alt="Portada de {{ book.title }}" />
    <div class="d-flex flex-column w-50 mt-3">
      <p>{{ book.title }}</p>
      <p>por <span (click)="redirectToAuthorPage(book.author._id)" class="author-link">{{ book.author.name }}</span></p>
      <app-rating-stars [stars]="book.stars!"></app-rating-stars>
      <p>
        {{
          book.synopsis.length > 300
            ? (book.synopsis | slice : 0 : 300) + "..."
            : book.synopsis
        }}
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pb-3 mt-2">
    <button class="me-5 py-1 px-4 facebook-cyan rounded">Leer</button>
    <button class="facebook-cyan py-1 px-4 rounded" (click)="redirectToBookPage(book._id)">
      Ir al sitio del libro
    </button>
  </div>
  <div class="friends-reading-container py-3">
    <p class="ms-3">
      <i class="bi bi-person-circle ms-1 me-2"></i>
      <span class="fw-bold">Alandra</span> y 3 amigos más están leyendo esto
    </p>
  </div>
</div>
