<li class="d-flex py-3 justify-content-between">
  <div class="d-flex">
    <img
      src="{{ book.cover }}"
      alt="Portada de {{ book.title }}"
      class="book-cover"
    />
    <div class="d-flex flex-column justify-content-between ms-4">
      <p class="fw-bold">{{ book.title }}</p>
      <p>por {{ book.author.name }}</p>
      <app-rating-stars [stars]="book.stars!"></app-rating-stars>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-around">
    <button class="link-button mx-auto" (click)="openUpdateReadingModal(book)">
      {{ readingStatus ? "Actualizar" : "Leer" }}
    </button>
    <div class="d-flex">
      <p class="me-1">Tu puntaje:</p>
      <app-rating-stars [stars]="book.stars!"></app-rating-stars>
    </div>
  </div>
</li>
