<div
  class="book-card d-flex justify-content-around"
  [ngClass]="backgroundColor"
>
  <img
    src="{{ book.cover }}"
    alt="Portada de {{ book.title }}"
    class="book-cover mt-5"
  />
  <div class="book-text mt-5">
    <p class="book-title">
      {{
        book!.title.length > 25
          ? (book.title | slice : 0 : 25) + "..."
          : book.title
      }}
    </p>
    <p>
      por
      <span
        class="author-link"
        routerLink="/autor/{{ book.author._id }}"
        >{{ book.author.name }}</span
      >
    </p>
    <app-rating-stars [stars]="book.stars!"></app-rating-stars>
    <p>
      {{
        book.synopsis.length > 300
          ? (book.synopsis | slice : 0 : 300) + "..."
          : book.synopsis
      }}
    </p>
    <button class="link-button mt-4" routerLink="/libro/{{ book._id }}">
      Ir al sitio del libro
    </button>
  </div>
</div>
