<div
  class="book-card d-flex justify-content-around"
  [ngClass]="backgroundColor"
>
  <img
    src="{{ book.cover }}"
    alt="Portada de {{ book.title }}"
    class="book-cover mt-5"
  />
  <div class="book-text mt-5">
    <p class="book-title">
      {{
        book!.title.length > 25
          ? (book.title | slice : 0 : 25) + "..."
          : book.title
      }}
    </p>
    <p>por {{ book.author.name }}</p>
    <div class="d-flex mt-3 mb-3">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i>
      <i class="bi bi-star"></i>
      <p class="ms-2">17 valoraciones</p>
    </div>
    <p>
      {{
        book.synopsis.length > 300
          ? (book.synopsis | slice : 0 : 300) + "..."
          : book.synopsis
      }}
    </p>
    <button class="link-button mt-4" (click)="redirectToBookPage(book._id)">
      Ir al sitio del libro
    </button>
  </div>
</div>
