<div class="d-flex mt-3 mb-3">
  @if(static){ @for(digit of starsToRender; track digit){ @if(digit=== 2){
  <i class="bi bi-star-half"></i>
  } @if(digit===1){
  <i class="bi bi-star-fill"></i>
  } @else{
  <i class="bi bi-star"></i>
  } }
  <p class="ms-2">{{ stars.length }} valoraciones</p>

  } @else { @for(digit of userRatingStars ; track $index){ @if(digit===1){
  <i class="bi bi-star-fill star-font-size" (mouseenter)="userRating($index)"></i>
  } @else{
  <i class="bi bi-star star-font-size" (mouseenter)="userRating($index)"></i>
  } } @empty { @for(digit of [].constructor(5) ; track $index){
  <i class="bi bi-star star-font-size" (mouseenter)="userRating($index)"></i>
  } } }
</div>
