.text-container {
  text-align: justify;
  width: 90%;
}
.review-profile-pic {
  font-size: 5rem;
}

.review-owner {
  font-size: 1.2rem;
}
p {
  font-size: 1.1rem;
}

.separator-border {
  border-top: 1px solid rgba(176, 169, 169, 0.355);
  border-bottom: 1px solid rgba(176, 169, 169, 0.355);
}
