<div class="container-fluid row mt-5">
  <div class="col-4 image-div">
    <img
      src="{{ author.image }}"
      alt="Foto de {{ author.name }}"
      class="author-portrait"
    />
  </div>
  <div class="mt-5 col-8">
    <div class="d-flex flex-column">
      <h2>{{ author.name }}</h2>
      <p class="text-container">País de origen: {{ author.nationality }}</p>
      <p>
        Generos: @for (genre of author.genre; track $index) {
        <span>{{ genre }}@if($index != author.genre.length - 1){, } </span>
        }
      </p>
    </div>
    <div>
      <p class="fw-bold mt-5">Libros:</p>
      <ul class="mt-3 vertical-border-separator">
        @for (book of books; track book._id; let last = $last) {
        <app-book-item-list
          [book]="book"
          class="d-block"
          [class.bottom-border-separator]="!last"
        ></app-book-item-list>
        }
      </ul>
    </div>
  </div>
</div>
